<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.component.css">
  <script src="home.component.js"></script>
  <title>carta para meu amorzinho!</title>
</head>
<body>
  <div class="login">
    <div class="bordas">
      <h1>Bem vindo à minha carta!</h1>
      <p>Heyy baby, se chegou aqui vou te dar uma dica que só você vai saber, a senha é a data mais importante da minha vida.</p>
      <div class="input-container">
        <input type="text" name="senha" id="senha" placeholder="Senha">
        <button onclick="conferirSenha()">Acessar</button>
      </div>
    </div>
  </div>
</body>
</html>
