<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carta de Amor</title>
</head>

<body>
  <div class="carta">
    <h1>Você conseguiu meu amorzinho!</h1>
    <p>Eu nem acredito que já faz um ano que a gente se conhece, vc é uma daquelas pessoas que não lembro nem como era
      minha vida sem você, eu tenho planos de vida com vc, metas a realizar, coisas a fazer, vc me motiva todo dia a
      querer mais e mais porque eu sei que vc merece o mundo minha princesa... Seu presente vai chegar atrasado amor kkk
      desculpa mas vc vai gostar muito, vc é minha princesa, meu conto de fadas favoritos é a nossa vida juntos, amo
      estar com vc.</p>
    <h3>Leonardo Paniz Aguiar, 12/09/2023</h3>
    <button (click)="retornarHome()">Voltar para a tela inicial</button>
  </div>
</body>

</html>
