html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Desabilita o scroll */
}

.custom-date-input {
  /* Estilos personalizados */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  box-shadow: none;
  outline: none;

  /* Estilos para a seta do input */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Estilos para a seta do input no Chrome */
.custom-date-input::-webkit-calendar-picker-indicator {
  display: none;
}

/* Estilos para a seta do input no Firefox */
.custom-date-input::-moz-calendar-picker-indicator {
  display: none;
}

/* Estilos para a seta do input no Edge */
.custom-date-input::-ms-calendar-picker-indicator {
  display: none;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh; /* Utiliza a altura total da viewport */
  background-color: rgb(87, 8, 161);
  padding: 20px;
  box-sizing: border-box;
}

.bordas {
  background-color: rgb(87, 8, 161);
  border-radius: 5px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  max-width: 400px; /* Limita a largura do container */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.login h1, .login p {
  margin: 0 0 10px 0;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-container input {
  margin-right: 10px;
}

button {
  background-color: #ffffff;
  color: rgb(87, 8, 161);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
